body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  color: black !important;
}
.is-dark {
  background-color: #F62459;
  background-image: linear-gradient(rgba(25, 181, 254, 0.6),rgba(246, 36, 89, 0.6)),linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url('http://therapistnyc.com/wp-content/uploads/2012/09/bigstock-Young-Woman-s-Hands-Holding-Re-30262637.jpg');
}
.nav {
  padding: 20px 0;
}
.hero.is-dark .nav-item a:not(.button), .hero.is-dark a.nav-item {
/*     color: #fff; */
    padding: 0 30px;
}
.nav-item {
  font-weight: bold;
  text-transform: uppercase;
/*   color: #fff; */
}
.nav-item .button{
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 10px 20px;
  height: 45px;
/*   border-radius; */
}
.promo-img {
  border-radius: 10px;
  border: 10px solid #fff;
}