

body {
  margin: 0;
  padding: 0;
}

.filterable-table {
	padding: 20px;
	background-color: lightblue;
}

footer {
	margin-top: 20px;

	a {
		padding: 5px 10px 5px 0;
	}
}

nav {
    ul { margin: 20px 0 0 0; padding: 0; }
    li {
        display: inline-block;
        margin-right: 5px;

        a {
            display: inline-block;
            padding: 8px 10px;
            color: #bada55;
            text-decoration: none;

            &:hover {
                color: darken(#bada55, 20%);
                background: lighten(#bada55, 30%);
            }
        }
        
        &.current {
            a {
                color: #fff;
                background: pink;
            }
        }
    }
}

.tab-content {
    display: inline-block;
    padding: 20px;
    background: pink;
    
    img { max-width: 100%; }
}